.JobInput {
    align-content: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
}

.JobInput table,input {
    width: 100%;
}

.JobInput th {
    background-color: #6C809A;
}

.JobInput button {
    background-color: #6C809A;
    color: white;
}