.JobTable {
    width: 100%;
    tr:nth-child(even) {background-color: #666b70};
    color: white;
  }
  
  .JobTable th {
    text-align: center;
    background-color: #6C809A;
    padding: 10px;
  }
  
  .JobTable td {
    text-align: left;
    padding-right: 20px;
  }
