.JobTable {
    width: 100%;
    tr:nth-child(even) {background-color: #E0EEC6;};
  }
  
  th {
    text-align: center;
    background-color: #7CA982;
    padding: 10px;
  }
  
  td {
    text-align: left;
    padding-right: 20px;
  }
  
  .JobInput {
    text-align: center;
    width: auto;
    align-content: center
  }